<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<connectionStrings>
  <add name="sql" connectionString="server= THEkillerCode/SQL; integrated security = true ; database = Login" />
  <add name="ProyectoMedico.Properties.Settings.LoginConnectionString"
   connectionString="Data Source=THEKILLERCODE\SQL;Initial Catalog=Login;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>